<h2><%= @contact[:name] %></h2>
<table>
  <tr>
    <th>Tel:</th>
    <td><%= @contact[:tel] %></td>
  </tr>
  <tr>
    <th>Email:</th>
    <td><%= @contact[:email] %></td>
  </tr>
  <tr>
    <th>Address:</th>
    <td>
      <%= addressify(@contact, :address_1, :address_2, :city, :state, :country) %>
    </td>
  </tr>
</table>
<form action="/update/<%= @contact[:id] %>" method="get">
  <button type="submit">Update Contact</button>
</form>
<form action="/delete/<%= @contact[:id] %>" method="post">
  <button type="submit">Delete Contact</button>
</form>
